:root {
    --background-color: #ccc;
    --default-bg: #fff;
    --default-text: #000;
}

html,
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    scrollbar-color: #191924 #121214;
    scrollbar-width: thin;
}

#window {
    margin-bottom: 20px;
}

.default-bg {
    background-color: var(--default-bg);
}

.default-text {
    color: var(--default-text);
}